{% extends 'layouts/main.twig' %}

{% block content %}

    {% set Images = entry.portfolioImages.all() %}

    <portfolio>
        <template slot="swiperSlides">
            <div class="swiper-slide flex justify-center items-center">
                <div>
                    <h1>{{ entry.title }}</h1>
                </div>
            </div>
            {% if Images | length %}
                {% for Image in Images %}
                    <div class="swiper-slide flex justify-center items-center">
                        <div class="w-full h-full bg-contain bg-no-repeat bg-center" style="background-image: url({{ Image.getUrl() }})"></div>

                    </div>
                {% endfor %}
            {% endif %}
            {% if entry.video | length %}
                <div class="swiper-slide flex justify-center items-center">
                    <div class="w-full h-full">
                        <iframe class="w-full h-full"src="{{ entry.video }}" frameborder="0"></iframe>
                    </div>
                </div>
            {% endif %}
        </template>
    </portfolio>

{% endblock %}