{% extends 'layouts/main.twig' %}

{% block content %}
    <h1>{{ entry.title }}</h1>

    {% set Images = entry.portfolioImages.all() %}

    <portfolio>
        {% if Images | length %}
            {% for Image in Images %}
                <swiper-slide>
                    <div class="swiper-zoom-container">
                        <img src="{{ Image.getUrl() }}" alt="{{ Image.title }}">
                    </div>
                </swiper-slide>
            {% endfor %}
        {% endif %}
        {% if entry.video | length %}
            <swiper-slide>
                <div class="">
                    <iframe src="{{ entry.video }}" frameborder="0"></iframe>
                </div>
            </swiper-slide>
        {% endif %}
    </portfolio>

{% endblock %}