<section class="Projects Masonry__grid">
    <div class="grid-sizer"></div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/TKI_25_Jahre.png" alt="TKI 25 Jahre"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.christianreiter.at">Christian Reiter</a></h4>
                <h3 class="Project__title">TKI – Tiroler Kulturinitiativen / IG Kultur Tirol</h3>
                <p class="Project__description">Grafikdesign &amp; Print</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/SW_Projekt_IMP.jpg"
                                             alt="IMP - Innovative Management Partner - Editorial Design"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.simonwint.com">Simon Wint</a></h4>
                <h3 class="Project__title">IMP - Innovative Management Partner</h3>
                <p class="Project__description">Editorial Design</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image">
                <figure class="Vimeo__wrapper Vimeo__size-widescreen">
                    <iframe src="https://player.vimeo.com/video/140301473?portrait=0&amp;title=0&amp;byline=0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </figure>
            </div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.medienwerkstatt.cc">Fabian Kametz, </a><a
                            href="http://www.manfredraggl.com">Manfred Raggl</a></h4>
                <h3 class="Project__title">Alpenvorland</h3>
                <p class="Project__description">Projektion für die Produktion Alpenvorland am Tiroler
                    Landestheater</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/SW_Projekt_Mils.jpg"
                                             alt="Mils Electronic - English Copywriting"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.simonwint.com">Simon Wint</a></h4>
                <h3 class="Project__title">Mils Electronic</h3>
                <p class="Project__description">English Copywriting</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/theaterfestival-2014.jpg" alt="Theaterfestival 2014"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.simonwint.com">Simon Wint, </a><a
                            href="http://www.medienwerkstatt.cc">Andreas Focke, </a><a
                            href="http://www.medienwerkstatt.cc">Michael Carli, </a><a
                            href="http://www.medienwerkstatt.cc">Fabian Kametz</a></h4>
                <h3 class="Project__title">Theaterfestival</h3>
                <p class="Project__description">Grafikdesign &amp; Print, Fotografie, Webdesign &amp;
                    Programmierung, Pressearbeit</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/Baettle-Group-for-Art.jpg" alt="Baettle-Group-for-Art"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.christianreiter.at">Christian Reiter</a></h4>
                <h3 class="Project__title">Bættle Group for Art – Bættle Research</h3>
                <p class="Project__description">Grafikdesign, Print &amp; Webdesign</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image">
                <figure class="Vimeo__wrapper Vimeo__size-widescreen">
                    <iframe src="https://player.vimeo.com/video/175512309?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </figure>
            </div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.medienwerkstatt.cc">Fabian Kametz</a></h4>
                <h3 class="Project__title">lebenshilfe tirol - Selbstbestimmtes Wohnen</h3>
                <p class="Project__description">Erklärfilm</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/Branding-Identity-OME-v1c.jpg"
                                             alt="Branding-Identity-OME-v1c" class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.hofergrafik.at">Günther Hofer</a></h4>
                <h3 class="Project__title">Objektmanagement Erlacher OME</h3>
                <p class="Project__description">Corporate Design</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image">
                <figure class="Vimeo__wrapper Vimeo__size-widescreen">
                    <iframe src="https://player.vimeo.com/video/126246928?title=0&amp;byline=0&amp;portrait=0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </figure>
            </div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.medienwerkstatt.cc">Fabian Kametz, </a><a
                            href="http://www.manfredraggl.com">Manfred Raggl</a></h4>
                <h3 class="Project__title">Gewalt im Alter</h3>
                <p class="Project__description">Kinospot - Tirolissimo nominiert 2015 - bester Spot</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image">
                <figure class="Vimeo__wrapper Vimeo__size-widescreen">
                    <iframe src="https://player.vimeo.com/video/148607258?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </figure>
            </div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.medienwerkstatt.cc">Fabian Kametz, </a><a
                            href="http://www.manfredraggl.com">Manfred Raggl</a></h4>
                <h3 class="Project__title">skate-revolution: Eislaufen ohne Eis</h3>
                <p class="Project__description">Imagefilm</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/sardinienprodukte.jpg" alt="Sardinienprodukte - Webshop"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.medienwerkstatt.cc">Andreas Focke, </a><a
                            href="http://www.medienwerkstatt.cc">Michael Carli</a></h4>
                <h3 class="Project__title">Sardinienprodukte Webshop</h3>
                <p class="Project__description">Webdesign, Programmierung, SEO Optimierung</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image">
                <figure class="Vimeo__wrapper Vimeo__size-widescreen">
                    <iframe src="https://player.vimeo.com/video/140804338?title=0&amp;byline=0&amp;portrait=0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </figure>
            </div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.manfredraggl.com">Manfred Raggl</a></h4>
                <h3 class="Project__title">Naturfilmtage 2011</h3>
                <p class="Project__description">Kinospot</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/hauskraller-startseite-screenshot.png" alt="Haus Kraller"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.hofergrafik.at">Günther Hofer</a></h4>
                <h3 class="Project__title">Haus Kraller am Millstätter See</h3>
                <p class="Project__description">Webdesign &amp; CMS-Umsetzung (Wordpress)</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/naturfreund-2016.jpg" alt="Naturfreund 2016"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.medienwerksatt.cc">Andreas Focke, </a><a
                            href="http://www.medienwerksatt.cc">Michael Carli</a></h4>
                <h3 class="Project__title">Naturfreunde Sommerprogramm</h3>
                <p class="Project__description">Grafikdesign &amp; Print</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image">
                <figure class="Vimeo__wrapper Vimeo__size-widescreen">
                    <iframe src="https://player.vimeo.com/video/116463148?title=0&amp;byline=0&amp;portrait=0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </figure>
            </div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.manfredraggl.com">Manfred Raggl</a></h4>
                <h3 class="Project__title">bilding Kunst-und Architekturschule</h3>
                <p class="Project__description">Kinospot</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/Jiang.jpg" alt="Jiang" class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.christianreiter.at">Christian Reiter</a></h4>
                <h3 class="Project__title">JIANG Sushi . Nudel . Saft</h3>
                <p class="Project__description">Corporate Design, Geschäftsdrucksorten, Verpackung &amp;
                    Website</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/Oberlech-Hotels1.jpg" alt="Oberlech-Hotels1"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.christianreiter.at">Christian Reiter</a></h4>
                <h3 class="Project__title">Sporthotel Petersboden, Hotel Burgwald</h3>
                <p class="Project__description">Corporate Design, Geschäftsdrucksorten, Print &amp;
                    Webdesign</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/stadt_potenziale.jpg" alt="stadt_potenziale"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.christianreiter.at">Christian Reiter</a></h4>
                <h3 class="Project__title">Kulturamt der Stadt Innsbruck – stadt_potenziale</h3>
                <p class="Project__description">Grafikdesign &amp; Print</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image">
                <figure class="Vimeo__wrapper Vimeo__size-widescreen">
                    <iframe src="https://player.vimeo.com/video/140517779?title=0&amp;byline=0&amp;portrait=0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </figure>
            </div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.manfredraggl.com">Manfred Raggl, </a>Robert
                    Fleischanderl</h4>
                <h3 class="Project__title">Pokos Café Bar Bistro</h3>
                <p class="Project__description">Kinospot</p>
            </div>
        </div>
    </div>
    <div class="Project Masonry__grid-item Masonry__grid-item--with-shadow">
        <div class="Project__wrapper">
            <div class="Project__image"><img src="img/azw-fhg-tagderoffenentuer-plakat.jpg"
                                             alt="azw fhg Tag der offenen Tür Plakat"
                                             class="Project__image--ov"></div>
            <div class="Project__details">
                <h4 class="Project__creators"><a href="http://www.hofergrafik.at">Günther Hofer</a></h4>
                <h3 class="Project__title">azw und fh Gesundheit</h3>
                <p class="Project__description">Grafikdesign &amp; Print</p>
            </div>
        </div>
    </div>
</section>